<section class="book-list">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-center">Book List</h2>
        <div class="search-section">
          <input type="text" [(ngModel)]="searchTitle" placeholder="Search by Title" class="form-control my-2">
          <input type="text" [(ngModel)]="searchAuthor" placeholder="Search by Author" class="form-control my-2">
          <button (click)="searchBooks()" class="btn btn-primary">Search</button>
        </div>
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
          <table class="table table-bordered table-striped mt-4 book-table">
            <thead>
              <tr>
                <th>No</th>
                <th>Title</th>
                <th>Author</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books; let i = index" (click)="onSelect(book)" style="cursor: pointer;">
                <td>{{ i + 1 }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4" *ngIf="selectedBook">
        <app-book-details [book]="selectedBook"></app-book-details>
        <div class="d-flex justify-content-start mb-2">
          <div class="mr-2">
            <button class="btn btn-primary" (click)="showEditForm = true">Edit</button>
          </div>
          <div>
            <button class="btn btn-danger" (click)="showDeleteForm = true">Delete</button>
          </div>
        </div>
        <div class="container">
          <app-book-edit *ngIf="showEditForm && selectedBook" [book]="selectedBook"></app-book-edit>
          <app-book-remove *ngIf="showDeleteForm &&selectedBook" [bookIdToRemove]="selectedBook.id"></app-book-remove>
        </div>
      </div>
    </div>
    <div class="row"><app-book-add></app-book-add></div>
    
  </div>
</section>
